// Breakpoints
$mobile-maxWidth: 575px;
$tablet-maxWidth: 991px;
$desktopSmall-maxWidth: 1366px;

@mixin smartphone {
  @media screen and (max-width: $mobile-maxWidth) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $mobile-maxWidth + 1) and (max-width: $tablet-maxWidth) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $tablet-maxWidth + 1) {
    @content;
  }
}

@mixin desktopSmall {
  @media screen and (min-width: $tablet-maxWidth + 1) and (max-width: $desktopSmall-maxWidth) {
    @content;
  }
}

@mixin desktopLarge {
  @media screen and (min-width: $desktopSmall-maxWidth + 1) {
    @content;
  }
}

@mixin smartphone-tablet {
  @media screen and (max-width: $tablet-maxWidth) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: $mobile-maxWidth + 1) {
    @content;
  }
}
