.typeWrapper {
  border: 2px solid black;
  padding: 5px;
  font-size: 12px;
  margin: 5px 0;
  width: 80px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;

  &.small {
    font-weight: bold;
    padding: 2px;
    font-size: 10px;
    width: 50px;
  }
}
