@use "partials/breakpoints" as bp;

.tableReloaderWrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableWrapper :global(.ant-table-thead) > tr > th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.image {
  --size: 50px;
  width: var(--size);
  height: var(--size);

  @include bp.tablet-desktop {
    --size: 80px;
  }
}
