@use "partials/breakpoints" as bp;

.pageWrapper {
  display: flex;
  flex-direction: column;

  @include bp.desktop {
    flex-direction: row;
    min-height: calc(100vh - var(--header-height));
  }
}

.searchBar {
  width: 100%;

  @include bp.desktop {
    width: 400px;
    flex-shrink: 0;
  }
}

.contentWrapper {
  width: 100%;

  @include bp.desktop {
    flex-grow: 1;
  }
}

.noResultsWrapper {
  margin: calc(var(--default-spacing) * 5) auto 0;
  text-align: center;

  img {
    width: 120px;
    height: 120px;
  }

  span {
    font-size: 20px;
  }

  @include bp.desktop {
    margin: calc(var(--default-spacing) * 10) auto 0;
  }
}
