@use "partials/breakpoints" as bp;

.searchWrapper {
  padding: var(--default-spacing);

  @include bp.desktop {
    position: sticky;
    top: 0;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.section {
  margin: var(--default-spacing) 0;

  .title {
    margin-bottom: calc(var(--default-spacing) / 3);
    font-size: 15px;
  }
}

.typesWrapper {
  --type-spacing: calc(var(--default-spacing) / 3);
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--type-spacing) * 2);
  margin: var(--default-spacing) 0;
  margin-left: calc(var(--type-spacing) * -1);
  margin-top: calc(var(--type-spacing) * -1);
}

.typesWrapper .type {
  --types-per-line: 5;
  cursor: pointer;
  user-select: none;
  margin: var(--type-spacing);
  width: calc((100% / var(--types-per-line)) - var(--type-spacing) * 2);

  @include bp.tablet {
    --types-per-line: 9;
  }

  @include bp.desktop {
    --types-per-line: 6;
  }
}

.typeNotSelected {
  opacity: 0.4;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
